body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#content {
  filter: contrast(50%);
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#simulationCanvas {
  border: none;
  width: 100%;
  height: 100%;
}

code {
  font-size: 80%;
}

.left-column {
  padding-left: 6px;
}

.right-column {
  padding-right: 6px;
}

.table > tbody > tr > td {
  border-top: none;
  padding: 2px;
}

.table > tbody > tr > td > input[type="number"], .number {
  width: 4em;
}

/* Highlighting in SVG */
.selectedPath.closedPath {
  stroke: none;
  fill: rgba(255, 255, 0, 0.5);
}
.selectedPath.openPath {
  stroke: rgba(255, 255, 0, 0.5);
  stroke-width: 8px;
  fill: none;
}
.combinedGeometry {
  stroke: none;
  fill: rgba(0, 0, 255, 0.3);
}
.tabsGeometry {
  stroke: none;
  fill: rgba(230, 160, 0, 0.3);
}
.toolPath {
  stroke: #ffff00;
  fill: none;
}

/** Handling for file pickers */
.choose-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.choose-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Formatting for items in Operations and Tabs tables */
.entry-row {
  background-color: #f5f5f5;
}
.entry-detail {
  width: 1px;
  text-align:right;
}
.entry-enabled {
  width: 1px; padding-right: 5px; padding-left: 5px;
}
.entry-mid {
  width: 1px; padding-right: 5px;
}

/* Title of a panel */
.card-title {
  font-size: 1rem;
}

/* Formatting for a "close x" in alerts */
.ecks {
  text-decoration: none;
}
.ecks:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Text that must be centred in a precaculated area */
.centre-text {
  display: flex;
  align-items: center;
}

/* Menu item that is only activated when something has changed */
.change-activated.disabled {
  filter: contrast(30%);
}

