/*
 * Bootstrap classes used below:
 * .container
 * .text-muted
 */
body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

input[type="number"] {
  width: 5em;
}

/* Layout of left and right sidebars */
.sidebar-left {
  padding-left: 6px;
}

.sidebar-right {
  padding-right: 6px;
}

/* Highlighting in SVG */
.selected-path.closed-path {
  stroke: none;
  fill: rgba(255, 255, 0, 0.5);
}
.selected-path.open-path {
  stroke: rgba(255, 255, 0, 0.5);
  stroke-width: 8px;
  fill: none;
}
.combined-geometry {
  stroke: none;
  fill: rgba(0, 0, 255, 0.3);
}
.tabs-geometry {
  stroke: none;
  fill: rgba(230, 160, 0, 0.3);
}
.tool-path {
  stroke: #ffff00;
  fill: none;
}

/** Handling for file pickers */
.choose-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.choose-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Card (view) layout */
.card-title {
  font-size: 1rem;
}
/* card-table is a table within a card */
.card-table>tbody>tr>td {
  border-top: none;
  padding: 2px;
}

/* card-list is the list of operations/tabs in the relevant cards */
.card-list {
  display: table;
}
.card-list-row {
  display: table-row;
  background-color: #f5f5f5;
}
.card-list-cell {
  display: table-cell;
  width: 1px; padding-right: 5px;
}
.card-list-cell.expand {
  width: 1px;
  text-align:right;
}
.card-list-cell.enable { /* the enabled checkbox in operations/tabs */
  padding-left: 5px;
}

/* The detail table for operations and tabs */
.detail-table {
}

/* Formatting for a "close x" in alerts */
.ecks {
  text-decoration: none;
}
.ecks:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Menu item that is only activated when something has changed. For example,
 * the Save button is only enabled when something needs saving */
.change-activated.disabled {
  filter: contrast(30%);
}

/* The canvas that WebGL runs in */
#SimulationCanvas {
  border: none;
  width: 100%;
  height: 100%;
}

/* The text view in the "View Gcode modal" */
#GcodeTextView {
  white-space: pre;
  font-family: monospace;
  overflow: scroll;
  max-height: 80vh;
}

#SelectionCounts {
  margin-left: 2em;
  display: table;
  background-color: #f0f0f0;
}
#SelectionCounts div {
  padding-left: 0.25em;
  padding-right: 0.25em;
  vertical-align: middle;
}
